In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = {'Animal' : ['Dog','Cat','Mouse','Cow','Buffalo']}
df=pd.DataFrame(data)
df

    Animal
0      Dog
1      Cat
2    Mouse
3      Cow
4  Buffalo

In [4]:
#Label encoder
label_encoder=LabelEncoder()
encoded_label = label_encoder.fit_transform(df['Animal'])
print(encoded_label)

[3 1 4 2 0]

In [7]:
encoder = OneHotEncoder(sparse_output=False)
encoded_array=encoder.fit_transform(df[['Animal']])
print(encoded_array)

[[0. 0. 0. 1. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1.]
 [0. 0. 1. 0. 0.]
 [1. 0. 0. 0. 0.]]